@use "../../base/variables" as v;
.newsletterContainer {
  max-width: 26.25rem; // 420px
  margin: 4.5rem auto;
  padding: 0 1rem;
  text-align: center;

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

#newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  input {
    flex: 1;
    padding: 0.625rem; // 10px
    border-radius: 0.25rem 0 0 0.25rem;
  }

  button {
    width: 2.5rem;   // 40px
    height: 2.75rem; // 44px
    font-size: 1.25rem;
    background-color: v.$primary;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;

    &:hover {
      background-color: v.$primary-button-hover;
    }
  }
}
