@use "../../base/variables" as v;

.accordion {
  border: v.$border;
  border-radius: v.$rounded-corner;
  padding: 0;
}

.accordion-item {
  background-color: v.$product-card;
  border: none;
  border-bottom: v.$border;
  border-color: v.$grey-cloud;
  &:last-of-type {
    border-bottom: none;
  }
}

.accordion-button {
  font-size: v.$h5-sm;
  font-family: v.$font-heading;
  font-weight: v.$weight-medium-heading;
  background-color: v.$product-card;

  &:hover {
    background-color: v.$primary;
  }
}

.accordion-button:not(.collapsed) {
  color: v.$text-color;
  background-color: v.$primary;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: v.$rounded-corner;
  border-top-right-radius: v.$rounded-corner;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-left-radius: v.$rounded-corner;
  border-bottom-right-radius: v.$rounded-corner;
}
