@use "../../base/variables" as v;


#oneProductView {
  padding: 2rem 1rem;
}

.productContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgContainer {
  width: 100%;
  //height: 26em;

  img {
    border: v.$border;
    border-radius: v.$rounded-corner;
    max-width: 100%;
    height: auto;
  }
}
.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  h2 {
    font-size: v.$h2-sm;
    color: v.$black;
  }
}

.pricetag {
  font-size: v.$h2-sm;
  font-family: v.$font-heading;
  font-weight: 600;
}

.reviewsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starsContainer {
  display: flex;
  align-items: center;
}

.reviewDetailsContainer {
  display: flex;
  align-items: center;
}

///////////////////////////////////////////////////
/// SHOPPING CART///

// .imgContainer {
//   img {
//     width: 20%;
//     height: 20%;
//   }
// }
