@use "../base/variables" as v;

// Styles for Product Highlight Card Component //
#highlight-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
// Card //
.card {
  display: flex;
  flex-direction: column;
  border: v.$border;
  border-radius: v.$rounded-corner;
  overflow: hidden;
  box-shadow: v.$card-shadow;
  max-width: 420px;
  width: 100%;
}
// Image //
.card-img-top {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center center;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border-bottom: v.$border;
}
// Card Body //
.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: v.$lighter-primary;
  justify-content: center;
  align-items: start;
  padding: 2rem 1em;
}

// Card title
.card-title {
  margin-bottom: 0;
  color: v.$text-color;
  font-size: v.$h3-sm;
}

// Text //
.card-text {
  font-size: v.$paragraph-size;
  color: v.$text-color;
  font-weight: 500;
}

// Responsive Design // //breakpoints medium//
@media only screen and (min-width: v.$breakpoint-md) {
  .card {
    flex-direction: row;
    max-width: 800px;
    max-height: 300px;
  }

  .card:nth-child(odd) .card-img-top {
    order: 0;
    border-right: v.$border;
    border-bottom: none;
  }

  .card:nth-child(even) .card-img-top {
    border-left: v.$border;
    border-bottom: none;
  }

  .card:nth-child(odd) .card-body {
    order: 1;
    // padding-left: 2rem;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  // .card:nth-child(even) .card-body {
  //   // padding-right: 2rem;
  //   // padding-left: 1rem;
  // }
  .card-img-top {
    width: 50%;
    height: auto;
    box-sizing: border-box;
  }
  .card-body {
    width: 50%;
    // padding: 1rem;
    padding: 2rem 2rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: v.$breakpoint-lg) {
  .card-title {
    font-size: v.$h3-lg;
  }
}

// Responsive Design // //breakpoints large//
@media only screen and (min-width: v.$breakpoint-xl) {
  .card {
    max-width: 1100px;
  }
}
