@use "variables" as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: v.$font-body;
  color: v.$text-color;
  background-color: v.$light-bg;
}

main {
  margin: auto;
  padding: 2.5rem 1rem 6.25rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-heading;
  color: v.$secondary;
  margin-bottom: 0;
  letter-spacing: 0.01rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 500;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: v.$text-color;
  font-weight: 500;
}

input {
  font-family: v.$font-body;
  font-size: v.$small-text;
}

ul {
  list-style: none;
}

@media only screen and (min-width: v.$breakpoint-xl) {
  // Main will be max. 1500px in width
  main {
    max-width: 93.75rem;
  }
}
