@use "../../base/variables" as v;
/*Product Hero Section Styles */

// Product Hero Section //
.product-hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  background-color: v.$lighter-primary;
}
// Hero Image //
.hero-image-container {
  flex: 1;
  min-height: 25rem;
  background-image: url("/images/product_list_hero.jpg");
  background-size: cover;
  background-position: center;
}

// Hero Text //
.hero-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;

  h1 {
    font-size: v.$h1-sm;
  }

  p {
    font-weight: v.$weight-medium-heading;
    font-size: v.$paragraph-size;
  }
}

.hyphenManual {
  hyphens: manual;
}

/* Responsive Design */

// Medium Screens //
@media (min-width: v.$breakpoint-md) {
  .product-hero-section {
    flex-direction: row;
  }

  .hero-image-container,
  .hero-text-container {
    flex: 1;
    min-height: 400px;
  }

  .hero-text-container {
    align-items: flex-start;
    text-align: left;
    padding: 2rem;
  }
}

// Large Screens //
@media (min-width: v.$breakpoint-lg) {
  .hero-text-container {
    padding: 3rem;
  }
}
