@use "../../base/variables" as v;

//Mobile first
#products-grid {
  // margin: 2% 6%;
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto;

  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    position: static;

    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: grey 2px solid;

    .imgContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;

      img {
        border: grey 2px solid;
        height: 17rem;
        width: 17rem;
        border-radius: 4px;
        //max-width: 100%;
        // max-height: 100%;
        //object-fit: cover;
      }
    }
    .extraInfo {
      margin: 0% 2%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;

      h4 {
        font-size: 1.3em;
        margin-bottom: 1%;
      }
      h5 {
        font-size: 1.5em;
      }

      button {
        width: 4em;
        align-self: flex-end;
        margin-top: 4%;
        //background-color: #f8d65d;
        //border-radius: 5px;
        height: 34px;
        margin-right: 6px;
        box-shadow: none;
        border: v.$border;
      }
    }
  }
}

//Tablet version
@media (min-width: v.$breakpoint-md) {
  #products-grid {
    grid-template-columns: auto auto auto;
    gap: 8px;
    margin-top: 2%;
  }
}
//Desktop version
@media (min-width: v.$breakpoint-lg) {
  #products-grid {
    grid-template-columns: auto auto auto auto;
    gap: 22px;
  }
}
