@use "../base/variables" as v;
/* Footer styling */
#footer {
  display: flex;
  flex-direction: column;
  background-color: v.$secondary;
  color: v.$white;
  padding: 3rem 1rem;
  width: 100%;
}
/* Inre wrapper */
.footer-inner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* logo */
  .logo {
    color: v.$white;
    text-align: center;
    font-size: v.$h2-lg;
    font-weight: v.$weight-semibold-heading;
    font-family: v.$font-heading;
  }
}
/* the columns */
.columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

/* inside the columns */
.columns-content {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: v.$h4-sm;
    padding: 0.5rem 0;
    color: v.$white;
    border-bottom: 3px solid v.$divider;
    border-color: v.$divider;
    text-transform: capitalize;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-top: 0.75rem;
  }

  a {
    color: v.$white;
    font-size: v.$paragraph-size;
    font-family: v.$font-body;

    &:hover {
      border-bottom: v.$border;
      border-color: v.$primary;
      color: v.$primary;
    }
  }
}

.content-info {
  display: flex;
  flex-direction: column;
}

.footer-extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

/* Social icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: v.$h4-sm;

  i {
    cursor: pointer;
    transition: color 0.3s;
  }
}

// Container for all the containers with the images
.payments {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: auto;
  flex-wrap: wrap;
  max-width: 25rem; // Icons will wrap when total width exceeds this
}

// Container for each image
.logo-container {
  flex: 0 0 auto; // Don't grow or shrink
  width: 2.25rem; // Fixed width
  height: 1.75rem; // Fixed height
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.25rem 0.25em;
  border-radius: v.$rounded-corner;

  // Brand logos for the payment alternatives
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

#klarna-logo {
  background-color: #ffa8cd; // Klarnas official brand color
}

@media only screen and (min-width: v.$breakpoint-md) {
  .footer-extra-content {
    align-items: flex-start;
  }

  .social-icons {
    justify-content: flex-start;
  }

  .payments {
    justify-content: flex-start;
  }

  .columns {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  .columns-content .content-info {
    flex-grow: 1;
  }
}
@media only screen and (min-width: v.$breakpoint-xl) {
  .footer-inner-content {
    flex-direction: row;
  }

  .logo {
    width: 20%;
  }
  .columns {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 80%;
  }

  .columns-content {
    width: 25%;
  }
}
