// Colors
$primary: #f8d65d;
$lighter-primary: #ead6ac;
$darker-primary: #e3ae3d;

$secondary: #283150;
$lighter-secondary: #415478;
$darker-secondary: #3f4653;

$black: #000000;
$white: #ffffff;
$product-card: #fafafa;
$text-color: #1e1e1e;
$dark-grey: #333333;
$grey: #808080;
$grey-cloud: #b3b3b3;
$light-grey: #d4d4d4;
$divider: #74798d;

$light-bg: #f6eed6;
$primary-button-hover: #e09040;
$secondary-button-hover: #40609a;
$red: #d30f12;
$link-hover: #233de3;
