
main  { 
    
    margin: 4%;

#oneProductView {
      border: 2px solid green;
      display: flex;

.oneProductImg {
  height: 16rem;
  width: 16rem;
  
    img {
      border: purple 2px solid;
      width: 100%;
      height: 100%;
    }

}
}
}