//Mobile first

#products-grid {
  border: red solid 2px;
  margin: 6%; 
  display: grid;
  grid-template-columns: auto auto;

  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 10px 20px;
    border: red solid 2px;

    .imgContainer {
    border: solid pink 2px; //Provisorisk
    padding: 10px 0;
    img { 
     width: 100%;
     height: 100%;
    }
    }
    .extraInfo {
      padding: 10px 0px;

     .buttonBuy {
      margin-right: auto;
     }
    }
  }
}
//Tablet version
@media (min-width: 768px) {

  #products-grid {
  grid-template-columns: auto auto auto;
  }
}
//Desktop version
@media (min-width: 1024px) {

  #products-grid {
  grid-template-columns: auto auto auto auto;
  }
}

.oneProductView {
      border: 2px solid red;

.oneProductImg {
  height: 400px;
  width: 400px;
  
    img {
      width: 50%;
      height: 50%;
    }

}
}