@use "variables" as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: v.$font-body;
  color: v.$text-color;
  background-color: v.$light-bg;
}

main {
  margin: auto;
  margin: 2.5rem 1rem 6.25rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-heading;
  color: v.$secondary;
  margin-bottom: 0;
  letter-spacing: 0.01rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 500;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: v.$text-color;
  font-weight: 500;
}

input {
  font-family: v.$font-body;
  font-size: v.$small-text;
}

ul {
  list-style: none;
}

.btn {
  text-transform: uppercase;
  border: v.$border;
  border-radius: v.$rounded-corner;
  padding: v.$padding-button;
  font-family: v.$font-heading;
  font-size: v.$button-font-size;
  font-weight: 600;
  box-shadow: v.$button-shadow;
  letter-spacing: 0.01rem;
}

.btn-primary {
  background-color: v.$primary;
  color: v.$text-color;

  &:hover,
  &:focus {
    background-color: v.$primary-button-hover;
    color: v.$text-color;
    border: v.$border;
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: v.$darker-secondary;
  color: v.$white;

  &:hover,
  &:focus {
    background-color: v.$secondary-button-hover;
    color: v.$white;
    border: v.$border;
    box-shadow: none;
  }
}
