@use "variables" as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: v.$font-body;
  color: v.$text-color;
  background-color: v.$light-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-heading;
  color: v.$secondary;
}

a {
  text-decoration: none;
  color: v.$text-color;
  font-weight: 500;
}

ul {
  list-style: none;
}
