@use "variables" as v;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  
}

//Header

#checkout > div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: white;
  justify-content: space-between;
  

  a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    
  }

}
//Checkout container
.checkoutContainer {
    background-color: white;
  display: flex;
  padding: 1rem;
}
//Form

#checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* h1 {
    font-size: 1.6rem; 
    margin: 0;
  }

  h2,
  h3 {
    margin: 0.5rem 0;
     font-size: 1.2rem; 
  } */
}


//Produkt 
.checkoutProduct {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0.75rem;
  padding: 1rem 0;
  /* border-bottom: 1px solid $border; */
}

.checkoutProductInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  /* div:first-child {
    font-weight: 600;
  }

  div:last-child {
    color: $secondary;
    font-size: 0.9rem;
  } */
}
//Quantity

.checkoutQty {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;

  button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* border: 1px solid $border; */
    background: white;
    
  }

  
}
//Varukorg (forEach-produkter)

.productContainer {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0.75rem;
  padding: 1rem 0;
 /*  border-bottom: 1px solid $border; */

  button {
    padding: 0.4rem 0.6rem;
    /* border-radius: $radius; */
    /* border: 1px solid $border; */
    background: white;
    font-size: 0.8rem;
  }

  p {
    margin: 0.3rem 0;
    font-size: 0.85rem;
  }
}
//Frakt & betalning

.options,
.paymentOptions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  label {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
  }
}
//Kunduppgifter

.row {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

 /*  label {
    font-size: 0.8rem;
    color: v.$secondary;
  } */

  input {
    padding: 0.7rem;
    /* border-radius: $radius; */
    /* border: 1px solid $border; */
    font-size: 1rem;
  }
}
//Totalt

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 1rem;
  /* border-top: 2px solid $border; */

  /* span {
    color: $accent;
  } */
}


//Tablet (min-width: 768px)

@media (min-width: 768px) {
  .checkoutContainer {
    background: white;
    /* border-radius: $radius; */
    padding: 2rem;
  }

  .CheckoutProduct,
  .productContainer {
    grid-template-columns: 80px 1fr auto;
    align-items: center;
  }

  .checkoutQty {
    grid-column: auto;
  }

  /* .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
}
//Desktop (min-width: 1024px)

/* @media (min-width: 1024px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
} */