@use "variables" as v;
/* Footer styling */
#footer {
  display: flex;
  flex-direction: column;
  background-color: v.$secondary;
  color: v.$white;
  padding: 3rem 1rem;
  width: 100%;
}
/* Inre wrapper */
.footer-inner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* logo */
  .logo {
    color: v.$white;
    text-align: center;
    font-size: v.$h2-lg;
    font-weight: v.$weight-semibold-heading;
    font-family: v.$font-heading;
  }
}
/* the columns */
.columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

/* inside the columns */
.columns-content {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: v.$h4-sm;
    padding: 0.5rem 0;
    color: v.$white;
    border-bottom: v.$border;
    border-color: v.$divider;
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-top: 0.75rem;
  }

  a {
    color: v.$white;
    font-size: v.$paragraph-size;
    font-family: v.$font-body;

    &:hover {
      border-bottom: v.$border;
      border-color: v.$white;
    }
  }
}

.content-info {
  display: flex;
  flex-direction: column;
}

.footer-extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Social icons */
.social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  font-size: v.$h3-sm;

  i {
    cursor: pointer;
    transition: color 0.3s;
  }
}

/* Payment icons */
.payments {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;

  // i {
  //   background-color: v.$white;
  //   color: v.$secondary;
  //   padding: 1px;
  //   border-radius: v.$rounded-corner;
  //   font-size: v.$h2-sm;
  // }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
  background-color: white;
  padding: 0.25rem 0.8em;
  border-radius: v.$rounded-corner;
}

#klarna-logo {
  background-color: pink;
}

img {
  width: 100%;
  min-width: 24px;
}

@media only screen and (min-width: v.$breakpoint-md) {
  // h3,
  // li {
  //   border-bottom: none;
  //   padding: 8px;
  //   color: v.$white;
  // }
  // .columns {
  // }
  // .columns-content {
  //   width: auto;
  // }

  .columns {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  .columns-content .content-info {
    flex-grow: 1;
  }
}
@media only screen and (min-width: v.$breakpoint-xl) {
  // .footer-inner-content {
  //   max-width: 1141px;
  //   display: grid;
  //   grid-template-columns: 1fr 3fr 1fr;
  //   align-items: start;
  // }
  // .columns-content {
  //   width: auto;
  // }

  .footer-inner-content {
    flex-direction: row;
  }

  .logo {
    width: 25%;
  }
  .columns {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 75%;
  }

  .columns-content {
    width: 25%;
  }
}
