 @use "variables" as v;
 /* Footer styling */
 .footer{
    background-color: v.$secondary;
    color: v.$white;
    padding: 24px 16px;
 }
/* Inre wrapper */
 .footer-inner-content{
    max-width: 480px;
    margin: 0 auto;

/* logo */
   .logo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
     }
 }
/* the columns */
 .colums{
    display: flex;
    flex-direction: column;
 }

 /* inside the columns */
 .colums-content{
    h3{
        font-size: 15px;
        font-weight: 600;
        padding: 16px 0;
        margin: 0;
        border-bottom: 1px solid v.$light-grey;
        text-transform: capitalize;

    }
    ul{
            list-style: none;
        padding: 0; 
        margin: 0;

        li{
            padding: 12px 0;
            border-bottom: 1px solid v.$light-grey;
        }

    }
    a{
        text-decoration: none;
        color: v.$white;
        font-size: 14px;
        text-decoration: none;
        display: block;

        &:hover{
           text-decoration: underline;
        }
    }
 }

 /* Social icons */
 .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 16px;
    font-size: 15px;
    

    i{
        cursor: pointer;
        transition: color 0.3s;

        }
        

        }

    /* Payment icons */
.payments{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 2rem;

    i{
        background-color: v.$white;
        color: v.$secondary;
        padding: 8px;   
        border-radius: 4px;
        font-size: 18px;
    }
    

    }
