@use "variables" as v;

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0;
  top: 0;

  #above-header {
    display: flex;
    text-align: center;
    font-size: 0.75rem;
    font-family: v.$font-secondary;
    justify-content: space-around;
    padding: 0.8em 0.8em;
    color: v.$white;
    background-color: v.$secondary;
  }

  #header {
    display: flex;
    flex-direction: row;
    padding: 0.75em 1em;
    background-color: v.$primary;
    justify-content: space-between;
    align-items: center;

    .search-container {
      display: none;
    }

    .header-left-side {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      font-family: Fredoka, sans-serif;

      .hamburger-menu {
        font-size: 1.2rem;
      }
    }

    .header-right-side {
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
      gap: 0.7rem;
      align-items: center;
    }
  }

  #under-header {
    display: flex;
  }
}
