@use "variables" as v;

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
}

#above-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0.25em 0em;
  font-size: v.$very-small-text;
  font-family: v.$font-body;
  color: v.$white;
  background-color: v.$secondary;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: v.$primary;
}

.search-container {
  display: none;
}

.header-left-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-family: v.$font-heading;

  .hamburger-menu {
    font-size: 1.2rem;
  }
}

.header-right-side {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  gap: 0.7rem;
  align-items: center;
}

#under-header {
  display: none;
}

@media only screen and (min-width: v.$breakpoint-lg) {
  #header {
    padding: 0.75rem 3rem;
  }

  .hamburger-menu {
    display: none;
  }

  .search-container {
    display: flex;
    width: 50%;

    .search-field {
      width: 100%;
      padding: 0.75rem 1rem;
    }
  }

  #under-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: v.$darker-primary;
    font-family: v.$font-heading;
    font-size: v.$h6-sm;
    padding: 1rem 3rem;
  }

  .under-header-left-side {
    display: flex;
    gap: 2rem;
  }

  .under-header-right-side {
    display: flex;
    gap: 2rem;
  }

  .drop-down-category {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
