@use "variables" as v;

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
}

#above-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0.25rem 0rem;
  font-size: v.$very-small-text;
  font-family: v.$font-body;
  color: v.$white;
  background-color: v.$secondary;
  border-bottom: v.$border;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: v.$primary;
  border-bottom: v.$border;
}

.search-container {
  display: none;
}

.header-left-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-family: v.$font-heading;

  .hamburger-menu {
    font-size: 1.2rem;
  }

  a {
    font-size: v.$h4-sm;
    font-weight: v.$weight-semibold-heading;
  }
  a:hover{
    color: v.$white;
  }
}

.header-right-side {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  gap: 0.7rem;
  align-items: center;
}

#under-header {
  display: none;
}

@media only screen and (min-width: v.$breakpoint-lg) {
  #header {
    padding: 0.75rem 3rem;
  }

  .hamburger-menu {
    display: none;
  }

  .search-container {
    display: flex;
    width: 50%;

    .search-field {
      width: 100%;
      padding: 0.5rem 1rem;
      border: v.$border;
      border-color: v.$grey;
      border-radius: v.$rounded-corner;
    }
  }

  .header-left-side {
    a {
      font-size: v.$h4-lg;
    }
    a:hover{
      color: v.$white;
    }
  }

  .header-right-side {
    font-size: 1.5rem;

    .fa-magnifying-glass {
      display: none;
    }
  }

  #under-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: v.$darker-primary;
    font-family: v.$font-heading;
    font-size: v.$h6-sm;
    padding: 0 2rem;
    border-bottom: v.$border;
    position: relative;

    a {
      padding: 1rem 1rem;
    }
    a:hover{
      color: white;
    }
  }

  .under-header-left-side {
    display: flex;
    gap: 0.5rem;
  }

  .under-header-right-side {
    display: flex;
    gap: 0.5rem;
  }

  .drop-down-category {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    a {
      padding-right: 0 !important;
    }
  }

  .backpack-drop-down {
    overflow: hidden;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: v.$secondary;
    min-width: 14rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: v.$rounded-corner;
    border: v.$border;

    a {
      color: v.$white;
      display: block;
      text-align: left;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: v.$lighter-secondary;
      }
    }
  }

  .backpack-drop-down:hover .dropdown-content {
    display: block;
  }
}
