@use "variables" as v;
/* mobile first */
.hero {
  /* position: relative; */
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image: url(../../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  

  .heroContent {
    text-align: center;
    color: v.$white;
    padding: 0 1rem;

    h1 {
      font-size: v.$h1-sm;
      font-family: v.$font-heading;
      color: v.$white;
      /* font-weight: 700; */
      margin-bottom: 1rem;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    }

    button {
      display: flex;
      justify-content: center;
      font-family: v.$font-heading;
      background-color: v.$primary;
      color: #000;
      padding: 0.75rem 1.25rem;
      font-size: v.$button-font-size;
      border-radius: 4px;
      border: #1e1e1e, 1, 5px;
      cursor: pointer;
    }
  }
}
