@use "variables" as v;
/* mobile first */
.hero {
  /* position: relative; */
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image: url(../../images/mobile_hero_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    color: v.$white;
    padding: 0 1rem;

    h1 {
      font-size: v.$h1-sm;
      font-family: v.$font-heading;
      color: v.$white;
      text-shadow: 0.125rem 0.125rem 0.125rem rgb(0, 0, 0),
        0 0 1.5rem rgb(0, 0, 0), 0 0 0.3rem rgb(0, 0, 0);
    }
  }

  @media (min-width: 768px) {
    height: 32rem;
    background-image: url(../../images/hero_image.jpg);
  }

  @media (min-width: 1024px) {
    height: 70vh;
  }
}
