@use "variables" as v;

// .shoppingBag {
//   display: none;
// }
// .showCart {
//   display: block;
//   border: red 2px solid;
// }

// #oneProductView {
//   display: grid;
//   grid-template-columns: repeat(12, [col-start] 1fr);
//   gap: 1rem;
// }
.productContainer {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1.5rem;
}

.productContainer > * {
  grid-column: col-start / span 12;
}

.imgContainer {
  width: 100%;

  img {
    border: v.$border;
    border-radius: v.$rounded-corner;
    max-width: 100%;
    height: auto;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  h1 {
    font-size: v.$h1-sm;
    color: v.$black;
  }
  button {
    width: 100%;
  }
}

.pricetag {
  font-size: v.$h2-sm;
  font-family: v.$font-heading;
  font-weight: 600;
}

.reviewsContainer {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.inStockStatus {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.circleStatusIcon {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #59e052;
  border: 1px solid v.$text-color;
  border-radius: 100%;
}

.shippingOverview {
  background-color: v.$lighter-primary;
  border: v.$border;
  border-radius: v.$rounded-corner;
  padding: 1.75rem 1.5rem;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  p {
    font-size: v.$small-text;
  }
}

#accordionContainer {
  margin-top: 0.5rem;
}

.similarProductsContainer {
  h2 {
    font-size: v.$h2-sm;
  }
}

@media only screen and (min-width: v.$breakpoint-md) {
  .imgContainer {
    grid-column: col-start / span 6;
    grid-row: 1;
    order: 1;
  }

  .productInfo {
    grid-column: col-start 7 / span 6;
    grid-row: 1 / span 2;
    order: 3;
  }

  .similarProductsContainer {
    grid-column: col-start / span 6;
    grid-row: 2;
    order: 2;
  }
}

@media only screen and (min-width: v.$breakpoint-lg) {
  .imgContainer {
    grid-column: col-start 3 / span 4;
    grid-row: 1;
  }

  .similarProductsContainer {
    grid-column: col-start 3 / span 4;
    grid-row: 2;
  }

  .productInfo {
    grid-column: col-start 7 / span 4;
    grid-row: 1 / span 2;
  }
}

// .reviewsContainer {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 0.5rem;
// }

/////////////

// .starsContainer {
//   display: flex;
//   align-items: center;
// }

// .reviewDetailsContainer {
//   display: flex;
//   align-items: center;
// }

///////////////////////////////////////////////////
/// SHOPPING CART///

// .imgContainer {
//   img {
//     width: 20%;
//     height: 20%;
//   }
// }
