@use "variables" as v;

#popUpContainer {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: v.$secondary;
  color: v.$white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  border: none;
  border: 0.125rem solid v.$divider;
  border-radius: v.$rounded-corner;
  width: 80%;
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0;
  gap: 0.75rem;
  font-size: v.$paragraph-size;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}
