#popularHeading {
    margin: 4% 4% 2% 4%;
}
#popularDiv {
    display: flex;
    //border: red 2px solid;  //Provisorisk
    overflow: scroll;
    scrollbar-color: white;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0% 8% 8% 4%;

    .productContainer {
    padding: 20px 0px;

    
    .imgContainer {
    height: 300px;
    width: 300px;

        img {
             height: 18rem;
             width: 18rem;
        }
    }
}
}