
#popularHeading {
    margin: 4% 4% 2% 4%;
    text-align: center;
}
#newHeading {
    @extend #popularHeading;
}
#popularDiv {
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: white;
    gap: 20px;
    //padding-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    margin: 0% 8% 8% 4%;

    .productContainer {
    padding: 20px 0px;
    height: 433px;
    background-color: whitesmoke;
    border-radius: 10px;
    //width: 500px;
    border:  grey 2px solid;

    
    .imgContainer {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

        img {
             border:grey 2px solid;
             height: 17rem;
             width: 17rem;
        }
    }
    .extraInfo {
    margin: 2%;
    display: flex;
    flex-direction: column;

    button {
        width: 4em;
        align-self: flex-end;
    }
    }
}
}
#newDiv {
    @extend #popularDiv;
}