@use "variables" as v;

/*Product Hero Section Styles */

// Product Hero Section //
.product-hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  // box-shadow: 0.2rem 0.2rem #1e1e1e, 0.15rem 0.15rem #1e1e1e,
  //   0.1rem 0.1rem #1e1e1e, 0.05rem 0.05rem #1e1e1e;
  background-color: v.$lighter-primary;
}
// Hero Image //
.hero-image-container {
  flex: 1;
  min-height: 25rem;
  background-image: url("/images/product_list_hero.jpg");
  background-size: cover;
  background-position: center;
  // box-shadow: 0.2rem 0.2rem #1e1e1e, 0.15rem 0.15rem #1e1e1e,
  //   0.1rem 0.1rem #1e1e1e, 0.05rem 0.05rem #1e1e1e;
}

// Hero Text //
.hero-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;

  h1 {
    // margin: 1rem;
    // text-shadow: 1px 2px 0 #969696, 1px 3px 2px #aba8a8;
    font-size: v.$h1-sm;
  }

  p {
    font-weight: v.$weight-medium-heading;
    font-size: v.$paragraph-size;
  }
}

.hyphenManual {
  hyphens: manual;
}

/* Responsive Design */

// Medium Screens //
@media (min-width: v.$breakpoint-md) {
  .product-hero-section {
    flex-direction: row;
  }

  .hero-image-container,
  .hero-text-container {
    flex: 1;
    min-height: 400px;
  }

  .hero-text-container {
    align-items: flex-start;
    text-align: left;
    padding: 2rem;
  }
}

// Large Screens //
@media (min-width: v.$breakpoint-lg) {
  .hero-text-container {
    padding: 3rem;
  }
}
