@use "variables" as v;
// Styles for Product Highlight Card Component //
#highlight-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}
// Card //
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid v.$dark-grey;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  width: 100%;
}
// Image //
.card-img-top {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center center;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
// Card Body //
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: v.$darker-primary;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  // Text //
.card-text {
  font-size: v.$paragraph-size;
  color: v.$text-color;
}

// Responsive Design // //breakpoints medium//
@media only screen and (min-width: v.$breakpoint-md) {
  .card {
    flex-direction: row;
    max-width: 800px;
    max-height: 300px;
  }

  .card:nth-child(odd) .card-img-top {
    order: 0;
  }

  .card:nth-child(odd) .card-body {
    order: 1;
    padding-left: 2rem;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card:nth-child(even) .card-body {
    padding-right: 2rem;
    padding-left: 1rem;
  }
  .card-img-top {
    width: 50%;
    height: auto;
    box-sizing: border-box;
  }
  .card-body {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
  }

 
}
// Responsive Design // //breakpoints large//
@media only screen and (min-width: v.$breakpoint-xl) {
  .card {
    max-width: 1100px;
  }
}
