@use "variables" as v;

/*.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  .product-card-container {
    background-color: v.$white;
    border: 1px solid v.$dark-grey;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;

    .product-image {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      background-color: v.$light-bg;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    */
.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  .product-card-container {
    background-color: v.$white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .product-image {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .product-details {
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: aqua;

      .product-info-title,
      h3 {
        font-size: v.$h2-sm;
        margin-bottom: 0.5rem;
        color: v.$secondary;
        padding: 1rem;
      }

      .product-info-description,
      p {
        font-size: v.$small-text;
        color: v.$text-color;
        flex-grow: 1;
        margin-bottom: 1rem;
        padding: 1rem;
      }

      .product-card-btn,
      button {
        background-color: v.$primary;
        color: #000;
        border: none;
        padding: 0.75rem;
        font-size: v.$button-font-size;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: v.$darker-secondary;
        }
      }
    }
  }
}