// Colors
$primary: #f8d65d;
$lighter-primary: #ead6ac;
$darker-primary: #e3ae3d;

$secondary: #283150;
$lighter-secondary: #415478;
$darker-secondary: #3f4653;

$black: #000000;
$white: #ffffff;
$product-card: #fafafa;
$text-color: #1e1e1e;
$dark-grey: #333333;
$grey: #808080;
$grey-cloud: #b3b3b3;
$light-grey: #d4d4d4;
$divider: #74798d;

$light-bg: #f6eed6;
$primary-button-hover: #e09040;
$secondary-button-hover: #40609a;
$red: #d30f12;
$link-hover: #233de3;

// Font sizes
$h1-sm: 2.25rem;
$h1-lg: 3rem;

$h2-sm: 2rem;
$h2-lg: 2.5rem;

$h3-sm: 1.625rem;
$h3-lg: 2rem;

$h4-sm: 1.375rem;
$h4-lg: 1.75rem;

$h5-sm: 1.25rem;
$h5-lg: 1.5rem;

$h6-sm: 1.125rem;
$h6-lg: 1.25rem;

$paragraph-size: 1rem;

$small-text: 0.875rem;

$very-small-text: 0.75rem;

$button-font-size: 1rem;

// Font family
$font-primary: Fredoka, sans-serif;
$font-secondary: Poppins, sans-serif;
