@use "variables" as v;
.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  .product-card-container {
    background-color: v.$white;
    border: 1px solid v.$light-border;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .product-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .product-details {
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: v.$h2-sm;
        margin: 0 0 0.5rem 0;
        color: v.$secondary;
      }

      p {
        font-size: v.$normal-text;
        color: v.$text-color;
        margin: 0 0 1rem 0;
        flex-grow: 1;
      }



      button {
        background-color: v.$primary;
        color: #000;
        border: none;
        padding: 0.75rem;
        font-size: v.$button-font-size;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: darken(v.$primary, 10%);
        }
      }
    }
  }
}
