@use "variables";
@use "fonts";
@use "base";
@use "header";
@use "hamburgerMenuOverlay";
@use "footer";
@use "homepage";
@use "product_higlightt_card";
@use "newsletter";
@use "popular";
@use "buyButton";

//Mobile first

#products-grid {
  margin: 6%; 
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto;

  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 10px 20px;
    border: black solid 2px;
    background-color: whitesmoke;

    .imgContainer {
    padding: 10px 0;
    img { 
     width: 100%;
     height: 100%;
    }
    }
    .extraInfo {
      padding: 10px 0px;

     .buttonBuy {
      margin-right: auto;
     }
    }
  }
}
//Tablet version
@media (min-width: 768px) {

  #products-grid {
  grid-template-columns: auto auto auto;
  }
}
//Desktop version
@media (min-width: 1024px) {

  #products-grid {
  margin: 10%; 
  grid-template-columns: auto auto auto auto;
  }
}

