//BASE
@use "base/variables";
@use "base/fonts";
@use "base/base";

//COMPONENTS
@use "components/buyButton";
@use "components/filterSortButton";
@use "components/product_higlightt_card";
@use "components/varukorgOverlay";

//LAYOUT
@use "layout/footer";
@use "layout/hamburgerMenuOverlay";
@use "layout/header";

//PAGES -CHECKOUT
@use "pages/checkout/checkout";

//PAGES - HOME
@use "pages/home/homepageHero";
@use "pages/home/newsletter";
@use "pages/home/popular";

//PAGES - ONE PRODUCT
@use "pages/oneProduct/oneProductPage";
@use "pages/oneProduct/popUpAddedToCart";
@use "pages/oneProduct/productAccordionStyle";
@use "pages/oneProduct/similarProducts";

//PAGES - SHOP
@use "pages/shop/productHero";
@use "pages/shop/shopGrid";
@use "pages/shop/sortProducts";
